/*  */
/*  */
/* LISES Foodblog ved siden af NAV, skal ikke have text-right, når man gør siden helt smal (når den får sin egen row/col-12) */

#top {
    background-color: black;
}

nav a {
    font-size: 0.8rem;
    font-weight: 800;
}

header {
    background-color: darkblue;
}

header img {
    max-height: 835px;
    object-fit: cover;
}

#imgText {
    top: -110px;
    left: 0px;
}

#imgText p {
    font-size: 0.9rem;
}

#overlay {
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, .5);
}

main article {
    margin-top: -87px;
    background-color: white;
    
    font-size: 1.1rem;
    line-height: 2.3rem;
}