/* TOP - TITLE + NAV */
#top {
    background-color: black;
}

nav a {
    font-size: 0.8rem;
    font-weight: 800;
}

header img {
    max-height: 835px;
    object-fit: cover;
}

#overlay {
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, .5);
}

#imgText p {
    font-size: 0.9rem;
}

/* Dette vil positionere teksten på header billedet bedre ift. opgaven, men det fungerer meget bedre mht. at siden skal være responsiv, og jeg synes det stadig ser fint ud. Dette kan evt. laves som ekstra opgave, med hjælp af media queries. */
/* Giv #imgText class="position-relative" */
/* #imgText {
    top: -110px;
    left: 0px;
} */

/* MAIN */
main article {
    margin-top: -87px;
    background-color: white;
    
    font-size: 1.1rem;
    line-height: 2.3rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    main article {
        margin-top: 0px;
    }
}

@media screen and (max-width: 576px) {
    #imgText h1 {
        font-size: 1.8rem;
    }
}