#headContainer {
    z-index: 1;

    height: 90vh;
}

#navContainer {
    background-color: #222222;

    top: 0;
    left: 0;
}

nav a {
    font-size: 0.8rem;
    font-weight: 800;
}

#imgContainer {
    /* Til hvis der bruges position-relative */
    /* top: -175px;
    margin-bottom: -175px; */

    top: 0px;
}

#imgContainer img {
    max-height: 94vh;
    object-fit: cover;
}

main article {
    background-color: white;
    height: 1000px;

    width: 80%;
    /* Til hvis der bruges positin-relative; */
    /* top: -100px; */

    top: -65px;
}